td.cell {
  font-size: 10px;
}

td.child {
  font-size: 12px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-top: 1px solid $grey;
      padding: 10px;

      &:first-child {
        border: 0;
      }
    }
  }

  .dtr-title {
    font-weight: bold;
  }
}
